<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather history</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='comparison.css') }}">
    <link rel='stylesheet' href='https://unicons.iconscout.com/release/v4.0.0/css/line.css'>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='w2.png') }}">
</head>

<body>
    <nav>
        <div class="container">
            <h1 class="heading">Weather Comparison for {{ city }}</h1>
        </div>
    </nav>
    
    <main>
        <div class="current_section">
            <h2 class="current_header">Current Weather</h2>
            <br>
            <div class="current_weather">
                {% for day in current_forecast %}
                    <div class="current_day">
                        <h3>{{ day.date }}</h3>
                        <br>
                        <p>Temperature: <h3>{{ day.temperature }}</h3></p>
                        <br>
                        <p>Humidity: <h3>{{ day.humidity }}</h3></p>
                        <br>
                        <p>Wind Speed: <h3>{{ day.wind_speed }}</h3></p>
                    </div>
                {% endfor %}
            </div>
        </div>
    
        <div class="historical_section">
            <h2 class="historical_header">Historical Weather</h2>
            <br>
            <div class="historical_weather">
                {% for day in historical_forecast %}
                    <div class="historic_day">
                        <h3>{{ day.date }}</h3>
                        <br>
                        <p>Temperature: <h3>{{ day.temperature }}</h3></p>
                        <br>
                        <p>Humidity: <h3>{{ day.humidity }}</h3></p>
                        <br>
                        <p>Wind Speed: <h3>{{ day.wind_speed }}</h3></p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <script src="script.js"></script>
    </main>
</body>
</html>
